<footer class="footer">
<div class="footer-top">
    <div class="container">
        <div class="row slideanim">
            <div class="col-lg-5 col-md-6">
                <div class="footer-info">
                    <h3>LOGO</h3>
                    <h4>Contributing institution</h4>
                    <p>
                        Tamen quem nulla quae legam multos aute sint culpa legam noster magn Tamen quem
                        nulla quae
                        legam multos aute sint culpa legam noster magn Tamen quem nulla quae legam multos
                        aute sint
                        culpa legam noster magn.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
            </div>
            <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Follow Us</h4>
                <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <button onclick="topFunction()" id="topAnchor" title="top"><i class="bi bi-arrow-up"></i>
                Top</button>
        </div>


    </div>
    
</div>
</footer>



