<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
  <div id="heroCarousel" data-bs-interval="30000" class="container carousel carousel-fade" data-bs-ride="carousel">
    <!-- Slide 2 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = false">
          <source src="assets/background_video/video.mp4" type="video/mp4">
        </video>
        <!-- <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2> -->

        <p class="animate__animated animate__fadeInUp">“Each tree not only has a different size and shape, but color and
          character, and each board from each tree has a distinctly different personality.”
          <span class="d-block font-italic">— Mira Nakashima</span>
        </p>
        <!-- <a (click)="scrollToId('link1')" class="animate__animated animate__fadeInUp scrollto"> <span
            class="carousel-control-bottom-icon bx bx-chevron-down" aria-hidden="true"></span></a> -->
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = false">
          <source src="assets/background_video/190915_A_04_Drone_09.mp4" type="video/mp4">
        </video>
        <!-- <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2> -->
        <p class="animate__animated animate__fadeInUp">“Each tree not only has a different size and shape, but color and
          character, and each board from each tree has a distinctly different personality.”
        <span class="d-block small">— Praveen Kadam</span></p>

        <!-- <a (click)="scrollToId('link1')" class="animate__animated animate__fadeInUp scrollto"> <span
            class="carousel-control-bottom-icon bx bx-chevron-down" aria-hidden="true"></span></a> -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-container">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = false">
          <source src="assets/background_video/210329_06B_Bali_1080p_005.mp4" type="video/mp4">
        </video>
        <!-- <h2 class="animate__animated animate__fadeInDown">Welcome to Carousel item</h2> -->
        <p class="animate__animated animate__fadeInUp">“Each tree not only has a different size and shape, but color and
          character, and each board from each tree has a distinctly different personality.”
          <span class="d-block font-italic">— Mira Sinha</span>
        </p>
        <!-- <a (click)="scrollToId('link1')" class="animate__animated animate__fadeInUp scrollto"> <span
            class="carousel-control-bottom-icon bx bx-chevron-down" aria-hidden="true"></span></a> -->
      </div>
    </div>
 
  
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>
  </div>
</section>