<div class="container">
    <div class="row">
        <div class="feedback-bg Google-form align-middle">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="transform-center-parent">
                    <div class="Google-form-heading transform-center">
                        <h3>What are the of Your <b>Country</b> to <span> the Well-being of Our Planet?</span>
                        </h3>
                        <p></p>
                        <a class="feedback-btn"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSfNDxHrW7POFSOHT50u2cv2LufKqdci9d1wOnE7A-ssVRzgPw/viewform"
                            target="_blank">START EVALUATION FORM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>