

<div class="container flex_column" id="link2">



  <h1 class="text-center title" id="link1">Index of Contributions to Planetary Well-being (ICP)</h1>

  <div class="row">
	  <div class="col-md-12 col-lg-12 pad0">  
		  <select class="form-control width12" [(ngModel)]="selectedValue">
		<option value="0" selected>Chart 1</option>
		<option value="1">Chart 2</option>
		<option value="2">Chart 3</option>
    <option value="3">Chart 4</option>
    <option value="4">Chart 5</option>
    <option value="5">Chart 6</option>
    <option value="6">Chart 7</option>
	  </select>
	</div>
  </div>


  <div class="chart_container">

    <div class="flex_center  animated animate__slideInLeft " *ngIf="selectedValue ==0">
      <div class="flex_column">
        <span class="text-center chart_title"> Contributions by the biggest 20 contributors in 1992</span>
        <plotly-plot [data]="chart1.data" [useResizeHandler]="true" class="chart flex_center"></plotly-plot>
      </div>
    </div>

    <div class="flex_center animated animate__slideInLeft" *ngIf="selectedValue ==1">
      <div class="flex_column">
        <span class="text-center chart_title"> Percent change from 1992 to 2019 in 20 highest performers</span>
        <plotly-plot [data]="chart2.data" [useResizeHandler]="true" class="chart flex_center"></plotly-plot>
      </div>
    </div>

	<div class="flex_center animated animate__slideInLeft" *ngIf="selectedValue ==2">
		<div class="flex_column">
		  <span class="text-center chart_title"> Percent change from 1992 to 2019 in 20 highest performers</span>
		  <plotly-plot [data]="chart3.data" [useResizeHandler]="true" class="chart flex_center"></plotly-plot>
		</div>
	  </div>

    <div class="flex_center animated animate__slideInLeft" *ngIf="selectedValue ==3">
      <div class="flex_column">
        <span class="text-center chart_title"> Contributions by the lowest 20 contributors in 2019</span>
        <plotly-plot [data]="chart4.data" [useResizeHandler]="true" class="chart flex_center"></plotly-plot>
      </div>
      </div>

      <div class="flex_center animated animate__slideInLeft" *ngIf="selectedValue ==4">
        <div class="flex_column">
          <span class="text-center chart_title"> Percent change from 1992 to 2019 in 20 highest performers</span>
          <plotly-plot [data]="chart5.data" [useResizeHandler]="true" class="chart flex_center"></plotly-plot>
        </div>
        </div>

        <div class="flex_center animated animate__slideInLeft" *ngIf="selectedValue ==5">
          <div class="flex_column">
            <span class="text-center chart_title"> Percent change from 2009 to 2019 in 20 highest performers</span>
            <plotly-plot [data]="chart6.data" [useResizeHandler]="true" class="chart flex_center"></plotly-plot>
          </div>
          </div>

          <div class="flex_center animated animate__slideInLeft" *ngIf="selectedValue ==6">
            <div class="flex_column">
              <span class="text-center chart_title"> Percent change from 2018 to 2019 in 20 highest performers</span>
              <plotly-plot [data]="chart7.data" [useResizeHandler]="true" class="chart flex_center"></plotly-plot>
            </div>
            </div>

  </div>
</div>




