
.top_inner_container {
    /* padding-top: 3.75rem; */
    width:100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption{padding-bottom:80px;}

h2{font-size: 60px;}
p{padding:10px}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:1;
}

.carousel-caption {
    right: 50% !important;
    left: 5% !important;
    text-align: left !important;
}

.carousel-control.left, .carousel-control.right  {
    min-height: fit-content !important;
}

.carousel-control {
    position: absolute;
    top: 75% !important;
    bottom: 0;
    left: 8% !important;
    width: 100% !important;
    font-size: 20px;
    color: #fff;
    filter: alpha(opacity=100);
    opacity: 1 !important;
    max-width: 10% !important;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    margin: 0 2px !important;
}

.carousel-control .icon-prev{
    transform: rotate(180deg) !important;
}

.carousel-control .icon-next {
    transform: rotate(-180deg) !important;
}

.carousel-indicators .active {
    width: 20%!important;
    height: 1%;
    margin: 0;
    border: 1px solid transparent !important;
    background-color: rgb(255, 255, 255) !important;
}

.carousel-indicators{
    position: absolute;
    left: 8%;
    width:10%!important;
    margin-left: 0 !important;
    text-align: center !important;
    list-style: none;
    top: 82%;
    min-height: fit-content !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 20% !important;
    height: .5%;
    margin: 0 2px !important;
    text-indent: 0 !important;
    cursor: pointer;
    background-color: rgba(23, 1, 1,.3)!important;
    border: 1px solid transparent !important;
    border-radius: none !important;
}

/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
 .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .animate__fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }


  @-webkit-keyframes backInLeft {
    0% {
      -webkit-transform: translateX(-2000px) scale(0.7);
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes backInLeft {
    0% {
      -webkit-transform: translateX(-2000px) scale(0.7);
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  .animate__backInLeft {
    -webkit-animation-name: backInLeft;
    animation-name: backInLeft;
  }


  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
  }

  .viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  