<section class="card_container" id="link1">
    <h1 class="text-center title"> Contributions to the Well-being of our Planet</h1>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="...">
                <div class="caption ">
                    <h3>Our interventions that contribute to planetary well-being</h3>
                    <p class="summary">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                </div>
                <span> 	<a routerLinkActive="active" routerLink="/Chart">Read Moresssd..</a></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="...">
                <div class="caption">
                    <h3>Ethical values practiced across our planet </h3>
                    <p class="summary">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                </div>
                <span> <a href="#0">Read More...</a> </span>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/12.jpg" alt="...">
                <div class="caption">
                    <h3>Actions/responses that result from the practice of ethical values</h3>
                    <p class="summary">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                </div>
                <span> <a href="#0">Read More...</a> </span>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="...">
                <div class="caption">
                    <h3>Cultural practices, actions, and policies across the world</h3>
                    <p class="summary">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                </div>
                <span> <a href="#0">Read More...</a> </span>
            </div>
        </div>
    </div>


</section>

<!-- <div class="card" tabindex="0">
    <span class="card__infoicon">
      <i class="fa fa-info"></i>
    </span>
    <h1 class="card__title">This is a title</h1>
    <p class="card__description">Lorem ipsum dolor sit amet and this is all the lorem ipsum text I remember</p>
    
    <p class="card__credits">Thanks <a class="card__reference" href="https://www.youtube.com/channel/UCVyRiMvfUNMA1UPlDPzG5Ow">Gary Simon</a> for the inspiration</p>
  </div> -->

